@model HprEnd.Models.Film_Kategoria

@{
    ViewData["Title"] = "Delete";
}

<h1>Usun</h1>

<h3>Jestes pewien ze chcesz usunac?</h3>
<div>
    <h4>Film_Kategoria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID_Kategoria" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Wroc do listy</a>
    </form>
</div>
